<div class="hero-unit">
  <h1>Nomnomnom your recipes!</h1>
  <p>An awesome indexer for all your noms.</p>
  <p>
    <a class="btn btn-primary btn-large" href="/signup">
      Signup Now!
    </a>
  </p>
</div>